doctype html
html
head
    meta(charset = "utf-8")
    title imooc jade study

    - var imooc = {course: 'jade',level: 'high'};

    - for (var k in imooc)
      p= imooc[k]
body
    h1(id = "title1" class = "title2") imooc jade study h1

    - var n = 0
    ul
      while n < 4
        li= n++

    h3 模板继承
    block desc
      p imooc jade study extends

    block desc
    block desc