body{
    width: 100%;
    height: 100%;
    position: relative;
}
.preloader{
    background: #000000;
    width: 100%;
    height: 100%;
}

.loader{
    width: 2em;
    height: 2em;
    position: absolute;
    top: calc(50% - 1em);
    left: calc(50% - 1em);
    transform: rotate(165deg);
}

.loader:before, .loader:after{
    content: ' ';
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    border-radius: 0.15em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader:before{
    animation: before 2s infinite;
}

.loader:after{
    animation: after 2s infinite;
    box-shadow: 0.55em 0.85em rgba(61, 184, 143, 0.75), -0.55em -0.85em rgba(233, 169, 32, 0.75);
}

@keyframes before {
    0% {
        width: 0.3em;
        box-shadow: 0.85em -0.55em rgba(225, 20, 98, 0.75), -0.85em 0.55em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2em;
        box-shadow: 0 -0.55em rgba(225, 20, 98, 0.75), 0 0.55em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.3em;
        box-shadow: -0.85em -0.55em rgba(225, 20, 98, 0.75), 0.85em 0.55em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 0.85em -0.55em rgba(225, 20, 98, 0.75), -0.85em 0.55em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after {
    0% {
        height: 0.3em;
        box-shadow: 0.55em 0.85em rgba(61, 184, 143, 0.75), -0.55em -0.85em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2em;
        box-shadow: 0.55em 0 rgba(61, 184, 143, 0.75), -0.55em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.3em;
        box-shadow: 0.55em -0.85em rgba(61, 184, 143, 0.75), -0.55em 0.85em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.55em 0.85em rgba(61, 184, 143, 0.75), -0.55em -0.85em rgba(233, 169, 32, 0.75);
    }
}